<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.manager.mapper.SmReportMapper">

    <select id="selectReportList" resultType="com.smart.manager.entity.SmReport">
        SELECT * FROM sm_report
        WHERE del_flag = '0'
        <if test="report.name != null and report.name != ''">
            AND name LIKE concat('%', #{report.name}, '%')
        </if>
        <if test="report.type != null and report.type != ''">
            AND type = #{report.type}
        </if>
        <!-- 数据权限过滤 -->
        ${report.params.dataScope}
        ORDER BY create_time DESC
    </select>

</mapper>
